<form class="relative mt-4 mb-4" action="{{ link to="search" }}" method="GET">
    <label for="search-input" class="absolute inset-y-0 left-0 pl-3 flex items-center">
        <svg class="h-5 w-5 text-gray-400 cursor-pointer" viewBox="0 0 20 20" fill="none" stroke="currentColor">
            <path d="M9 17a8 8 0 100-16 8 8 0 000 16zM19 19l-6.65-6.65" />
        </svg>
    </label>
    <input id="search-input" type="text" name="q" placeholder="Search" class="bg-white py-2 pl-10 pr-4 block w-full appearance-none focus:outline-none focus:ring-2 focus:ring-gray-300" value="{{ get:q }}">
</form>
